---
title: Welcome to Middleman
---

<div class="welcome">
  <div class="logo">
    <%= image_tag "middleman-logo.svg" %>
  </div>
  <h1>Hello, it's me.</h1>
  <p class="doc">
  </p><!-- .doc -->
</div><!-- .welcome -->
